.paragraph {
  display: flex;
}

.paragraph>div {
  align-self: stretch;
  align-items: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.paragraph:not(.opened)>.content {
  display: none;
}

.paragraph.opened>.cut-content {
  display: none;
}

.paragraph .icon {
  color: darkgray;
  font-size: small;
}

.paragraph.opened .show-button {
  display: none;
}

.paragraph:not(.opened) .hide-button {
  display: none;
}

.toggle button {
  display: inline-block;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.toggle button:active {
  border: none;
  outline: none;
}

.paragraph>.toggle,
.paragraph>.toggle-dummy {
  float: left;
  display: flex;
  margin-right: 0.6em;
  padding-left: 0.2em;
  padding-right: 0.4em;
  width: 1.8em;
}

.paragraph>.toggle {
  border-right: 1px solid lightgray;
}

.paragraph>.toggle:hover .icon {
  color: gray;
}

.paragraph>.toggle:hover {
  border-color: darkgray;
}

.paragraph>.toggle:active .icon {
  color: black;
  border-color: black;
}

.paragraph>.toggle:active {
  border-color: black;
}

.annotated {
  background: #4ca9ff40;
  border: 1px solid #4ca9ff63;
  border-radius: 3px;
  padding: 2px;
  cursor: pointer;
}

.annotated:hover {
  background: #4ca9ff29;
}

.annotated:active {
  background: #4ca9ff14;
}

.annotation {
  display: none;
}